.App {
  text-align: center;
  background-color: red;
  height:200px;
  width :200px;
  top:30px;
  left:50px;
  
}
.subApp{
  position: relative;
  background-color: blue;
  height:100px;
  width :100px;
  left:10px;
  top:10px;
  z-index: 2;
}
.Tri{
  position:relative;
  height:0px;
  width:0px;
  top:10px;
  left:10px;
  border-top: 50px solid yellow;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}
.Cir{
  position:relative;
  height:300px;
  width:300px;
  top:50px;
  background-color: green;
  border-radius: 150px;
  z-index:3;
}